<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
			<div class="container app-body">
				<div>
					<div id="messageID"></div>
					<ul class="nav justify-content-end">
					  <li class="nav-item">
						<a class="nav-link" href="#" id="btnOpenModalID">
							<span class="feather-action-button" data-feather="plus-square"></span>
							New
						</a>
					  </li>
					</ul>
				</div>
				<!-- TASKS TABLE -->
				<table class="table" id="tblTasksID">
				  <thead>
				    <tr>
				      <th scope="col">Name</th>
				      <th scope="col">Created</th>
				      <th scope="col">Last updated</th>
				      <th scope="col">Active</th>
				    </tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
				
				<!-- NEW TASK MODAL -->
<!-- 				<div id="modalNewID" class="cp-modal"> -->
<!-- 					<div class="cp-modal-content"> -->
<!-- 						<div class="cp-modal-title"> -->
<!-- 							<span>Insert new task</span><span class="cp-modal-close">x</span> -->
<!-- 						</div> -->
<!-- 						<div id="msgNewTask"></div> -->
<!-- 						<div class="cp-modal-body"> -->
<!-- 							<div class="form-row"> -->
<!-- 				    			<div class="form-group col-md-6"> -->
<!-- 								     <label for="nameID">What's your task for today?</label> -->
<!-- 								  	 <input type="text" class="form-control form-control-sm" id="nameID" maxlength="100"> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 			    			<button id="newTaskID" type="submit" class="btn btn-primary btn-sm">Create</button> -->
<!-- 					  		<button id="cancelTaskID" type="button" class="btn btn-secondary btn-sm">Cancel</button> -->
<!-- 						</div> -->
				   </div>
				</div>
			</div>
		</div>
	</body>
</html>
<script th:src="@{/js/domain/task.js}"></script>